[submodule "src/lib/tomlc99"]
	path = src/lib/tomlc99
	url = https://github.com/cktan/tomlc99.git
[submodule "src/lib/toml11"]
	path = src/lib/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "src/lib/libgit2"]
	path = src/lib/libgit2
	url = https://github.com/libgit2/libgit2.git
